@import '../../variables.scss';


.rs-AMF {
    width: 100%;
    max-width: 30rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

.addMealList {
    width: 75%;
    max-width: 30rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;

    .inputError {
        display: flex;
        border: 1px solid tomato;
        color: tomato;
        align-items: center;
        border-radius: 0.25rem;

        i {
            color: tomato;
        }

        p {
            margin: 0 1rem;
            font-weight: bold;
        }

        @media screen and (max-width: 500px) {
            width: 90%;
        }
    }

    .addMealForm {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        input, 
        button {
            text-align: center;
            height: 2.5rem;
            font-size: 1.55rem;
            border: none;
            border-bottom: 1px solid $main_color;
            color: $main_color;
            font-weight: bold;
            border-radius: 0;

            &::placeholder {
                color: $main_color;
            }

            &:focus {
                outline: none;
            }
        }

        .add,
        .cancel {
            width: 50%;
            min-width: 10rem;
            align-self: center;
            color: black;
            margin: 1rem 0;
            border: none;
            background-color: transparent;
            text-decoration: underline;
            cursor: pointer;
        }

        .add {
            margin: 1rem 0 0 0;
            &:hover {
                color: $main_color;
            }
        }

        .cancel {
            &:hover {
                color: tomato;
            }
        }
    }
}